
REACT_APP_NAME=M-Decor Administration Portal


REACT_APP_CODE=m-decor
REACT_APP_TITLE=M-Decor
REACT_APP_VERSION='0.1'
REACT_APP_ENV=Dev
REACT_APP_BG_COLOR='#fff176'
REACT_APP_HOST_NAME=localhost
REACT_APP_PORT=5002
REACT_APP_MESSAGE_REGISTER_USER='Welcome to M-Decor'
REACT_APP_MESSAGE_LOGIN_USER='Hi, Welcome to M-Decor'

#BE Configs

REACT_APP_SERVER_URL=http://localhost:5002/api/1.0.0/
REACT_APP_SOCKET_URL=ws://localhost:5002/ws

REACT_APP_LOG_TO_CONSOLE=true
REACT_APP_IDLE_TIME = 3000


